body {
    margin: 0;
    font-family: ubuntu;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

.main-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.form-style {
    margin: 10px auto;
    width: 40%;
    padding: 40px 12px 10px 20px;
}

.current-price {
    background-color: #FF9900;
    color: white;
}

.form-style li {
    padding: 0;
    display: block;
    list-style: none;
}

.form-style label {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
    font-weight: bold;
}

.form-style input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    width: 200px;
    padding: 3px;
    margin: 0px;
    outline: none;
}

.text {
    text-align: center;
}

.bitcoin-price {
    text-align: center;
    margin-top: 50px;
}

.form {
    display: inline-block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    margin-bottom: 50px;
}

.output {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}

.price {
    color: #FF9900;
}

.percent {
    color: green;
}

.btn {
    width: 50%;
    text-align: center;
}
