body {
    margin: 0;
    font-family: ubuntu;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    /* background-color: red; */
}

.navbar-nav {
    /* position: absolute;
    justify-content: end; */
    margin-left: auto;
}

.main-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    margin-top: 100px;
}

.form {
    margin-top: 100px;
}

.row {
    margin-bottom: 50px;
}

.output {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}

.price {
    color: #FF9900;
}

.percent {
    color: green;
}

.btn {
    width: 50%;
    text-align: center;
}
/* nav {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
} */