{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}


{% block body %}
    <div class="main-container">
    <div class="text">
        <h2><bold>Bitcoin would have to be $_______. A percent gain of _________%.</bold></h2>
    </div>
    
    <div class="form">
        <form method="POST">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="money-spent" class="col-form-label">Cuck bucks:</label>
                </div>
            <div class="col-4">
                <input type="text" name="amount" id="money-spent" class="form-control">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Cuck bucks spent
                </span>
            </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="sats-rewarded" class="col-form-label">Sats rewarded:</label>
                </div>
            <div class="col-4">
                <input type="text" name="sats" id="sats-rewarded" class="form-control">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Sats rewarded for the purchase
                </span>
            </div>
            </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
{% endblock %}
