{% extends "base.html" %}

{% block title %}
    Sats the standard
{% endblock %}

{% block body %}
  <!-- <div class="container">  -->
    <div class="main-text"> 
      {% if submit %}
        <h2>Bitcoin would have to be <span class="output price">${{ price }}</span> for your item to be paid off. A gain of <span class="output percent">{{ percent }}%</span></h2>
      {% else %}
        <h2>Bitcoin would have to be <span class="output price">{{ price }}</span> for your item to be paid off. A gain of <span class="output percent">{{ percent }}</span></h2>
      {% endif %} 
    </div> 

    <div class="bitcoin-price">
      <h4>Current Bitcoin Price: <span class="current-price">${{ bitcoin_price }}</span></h4>
    </div>

    <form method="POST">
      <div class="field">
        <input type="text" name="amount" required />
        <label class="label-name" for="name">
          <span class="content-name">Amount spent</span>
        </label>
      </div>

      <div class="field">
        <input type="text" name="sats" required />
        <label class="label-name" for="sats">
          <span class="content-name">Sats earned</span>
        </label>
      </div>
      <button class="form-button" type="submit">Submit</button>
    </form>
{% endblock %}
