{% extends "base.html" %}

{% block title %}
    Sats the standard
{% endblock %}

{% block body %}
  <!-- <div class="container">  -->
    <div class="main-text"> 
      {% if submit %}
        <h2>Bitcoin would have to be <span class="output price">${{ price }}</span> for your item to be paid off. A gain of <span class="output percent">{{ percent }}%</span></h2>
      {% else %}
        <h2>Bitcoin would have to be <span class="output price">{{ price }}</span> for your item to be paid off. A gain of <span class="output percent">{{ percent }}</span></h2>
      {% endif %} 
    </div> 

    <div class="bitcoin-price">
      <h4>Current Bitcoin Price: <span class="current-price">${{ bitcoin_price }}</span></h4>
    </div>

    <form method="POST">
      <div class="field">
        <input type="text" name="name" required />
        <label class="label-name" for="name">
          <span class="content-name">Name</span>
        </label>
      </div>

      <div class="field">
        <input type="text" name="sats" required />
        <label class="label-name" for="sats">
          <span class="content-name">Sats earned</span>
        </label>
      </div>
      <button class="form-button" type="submit">
        Submit
      </button>
    </form>





    <!-- <div class="form">
      <form>
        <ul class="form-style">
            <li>
                <label>Amount Spent</label>
                <input type="text" name="amount" id="money-spent" placeholder="cuck bucks spent" />
            </li>
            <li>
                <label>Sats rewarded</label>
                <input type="text" name="sats" id="sats-rewarded" />
            </li>
        </ul>
      </form>
    </div> -->

    <!-- <div class="form">
        <form method="POST">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="money-spent" class="col-form-label">Amount spent:</label>
                </div>
            <div class="col-4">
                <input type="text" name="amount" id="money-spent" class="form-control">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    USD cuck bucks
                </span>
            </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="sats-rewarded" class="col-form-label">Sats rewarded:</label>
                </div>
            <div class="col-4">
                <input type="text" name="sats" id="sats-rewarded" class="form-control">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">

                </span>
            </div>
            </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
  <!-- </div> -->
{% endblock %}
